<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>LIMIT DGGAS project is aimed to test treatment strategies based on the recovery of nutrients in digestate, in order to produce new types of fertilizers or amendments.
          The project will also investigate the fertilization efficiency of anaerobic digestors effluents, monitoring gaseous emissions from different sources along the production chain.</p>
      </div>
      <div class="col-lg-4">
        <p>LIMIT DGGAS project will trace the road for a control on by-products quality, valorization of agronomic utilization of digestate, reduction of environmental effects due to the release of pollutant gases, as required from policy-makers and stakeholders.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Brochure
        </a>
      </div>
    </div>
  </div>
</section>
