<!-- Header -->
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-20">
        <img
          class="img-responsive"
          src="img/profile_small.png"
          alt="profile-pic"
          style="max-width: 300px; height: auto; margin: 0 auto; display: block"
        />
        <div class="intro-text" style="margin-top: 10px">
          <span class="name" style="font-size: 50px">{{ site.title }}</span>
          <hr class="star-light" style="font-size: 20px" />
          <span class="skills">{{ site.skills }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
